/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  width: 512px;
  margin: 0 auto;
  border: 3px dashed black;
}

header {
  padding: 0.6rem 1rem;
  border-bottom: 3px solid black;
}

main {
  padding: 1.25rem 2.25rem;
}

footer {
  padding: 0.5rem 1rem 2rem; /* top right/left bottom */
  border-top: 3px solid black;
}

/* Typography */
h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 1.875rem;
}

p {
  font-size: 1.25rem;
}

/* Components */
.cards {
  /* Space between cards */
  > .card + .card {
    margin-top: 1.25rem;
  }
}

.card {
  min-height: 12.5rem;
  padding: 1.2rem;
  border: 3px solid black;
}
