/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  width: 512px;
  margin: 0 auto;
  border: 2px dashed black;
}

header {
  padding: 0.75rem 1rem;
  border-bottom: 2px solid black;
}

main {
  padding: 1.25rem 2.25rem;
}

footer {
  padding: 0.5rem 1rem 2rem; /* top right/left bottom */
  border-top: 2px solid black;
}

/* Components */
.cards {
  /* Space between cards */
  > .card + .card {
    margin-top: 1.25rem;
  }
}

.card {
  min-height: 12.5rem; /* 200px */
  padding: 1rem;
  border: 2px solid black;

  /* Space inside card */
  > * + * {
    margin-top: 0.25rem;
  }
}
